
# Large files exceeding GitHub 100MB limit
MERO_patterns_for_journal/s13207/MERO_reduced_pattern_set_N_1000_thresh_0.1_s13207.pickle
MERO_patterns_for_journal/s15850/MERO_reduced_pattern_set_N_1000_thresh_0.1_s15850.pickle
MERO_patterns_for_journal/s35932/MERO_reduced_pattern_set_N_1000_thresh_0.1_s35932.pickle
