
# Large files exceeding GitHub limits
Trojan_inserted_netlists_width_4.zip
GA_SAT_patterns_for_journal/mips_testing_pats_coverage_info.pickle
MERO_patterns_for_journal/*/MERO_reduced_pattern_set_*.pickle
